<a href="https://colab.research.google.com/github/BiancadeFrancisco/BigData_SparkSQL/blob/main/SparkSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INSTALAR SPARK

In [1]:
!pip install pyspark #==3.3.1

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=361c779a18d26be4b7f89e181d922223c5c7cbf5728846d89703a8c9c58ec100
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip

--2023-10-19 13:19:37--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 54.237.133.81, 54.161.241.46, 52.202.168.65, ...
Connecting to bin.equinox.io (bin.equinox.io)|54.237.133.81|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13921656 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.28M  38.3MB/s    in 0.3s

2023-10-19 13:19:37 (38.3 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13921656/13921656]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok

# INICIAR SESSÃO SPARK

In [3]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

# ConfigureSparkUI
conf = SparkConf().set('spark.ui.port', '4050')
sc = SparkContext(conf=conf)
sc.stop()

spark = (
    SparkSession.builder                  # Método da classe que constrói a sessão spark
      .appName("Meu Primeiro App Spark")  # Nome do App Spark
      .getOrCreate())                     # Verifica se há uma sessão ativa, e se não há, cria uma nova sessão

In [4]:
!curl -s http://localhost:4040/api/tunnels

# SparkSQL

In [6]:
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType, StringType, TimestampType

caminho_csv = "./base_de_dados.csv"

schema_base_pix = StructType([
    StructField('id', IntegerType()),
    StructField('valor', DoubleType()),
    StructField('parte_debitada_nome', StringType()),
    StructField('parte_debitada_conta', StringType()),
    StructField('parte_debitada_banco', StringType()),
    StructField('parte_creditada_nome', StringType()),
    StructField('parte_creditada_conta', StringType()),
    StructField('parte_creditada_banco', StringType()),
    StructField('chave_pix_tipo', StringType()),
    StructField('chave_pix_valor', StringType()),
    StructField('data_transacao', TimestampType())
])

df = spark.read.csv(
    path=caminho_csv,
    header=True,
    sep=";",
    schema=schema_base_pix,
    timestampFormat="dd/MM/yyyy HH:mm"
)
spark.read.csv(
    path=caminho_csv,
    header=True,
    sep=";",
    schema=schema_base_pix,
    timestampFormat="dd/MM/yyyy HH:mm"
).createOrReplaceTempView("base_pix")   # CRIEI UMA TABELA COM O NOME BASE_PIX

In [7]:
spark.sql("select * from base_pix limit 10").show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+

In [18]:
# Descubra a quantidade total de transações na base de dados:

spark.sql(
    """
      select count(*) as qtd_transacoes from base_pix
    """
).show()

+--------------+
|qtd_transacoes|
+--------------+
|           100|
+--------------+

In [19]:
# Qual foi a quantia total de dinheiro transacional em cada ano?

spark.sql(
    """
      select
        year(data_transacao),
        sum(valor)
      from base_pix
      group by 1
    """
).show()

+--------------------+------------------+
|year(data_transacao)|        sum(valor)|
+--------------------+------------------+
|                2022|517980.58999999973|
|                2021| 848320.6000000001|
+--------------------+------------------+

In [20]:
# Descubra a quantidade de dinheiro que entrou na Nubank em todo o período.

spark.sql(
    """
      select sum(valor)
      from base_pix
      where parte_creditada_banco = 'Nubank'
    """
).show()

+----------+
|sum(valor)|
+----------+
| 302224.64|
+----------+

In [21]:
# Retorne a quantidade de transações agrupadas por tipo de chave.

spark.sql(
    """
      select chave_pix_tipo, count(*)
      from base_pix
      group by chave_pix_tipo
    """
).show()

+--------------+--------+
|chave_pix_tipo|count(1)|
+--------------+--------+
|       celular|      22|
|         email|      29|
|           cpf|      49|
+--------------+--------+

In [22]:
# Descubra qual é a média, mínima e máxima do valor de todas as transações.

spark.sql(
    """
      select max(valor), min(valor), mean(valor) from base_pix limit 10
    """
).show()

+----------+----------+------------------+
|max(valor)|min(valor)|       mean(valor)|
+----------+----------+------------------+
|  95977.62|      0.03|13663.011899999998|
+----------+----------+------------------+

In [23]:
# Quais foram as 5 maiores transações durante todo o período?

spark.sql(
    """
      select * from base_pix
      order by valor desc
      limit 5
    """
).show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+--------------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|     chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+--------------------+-------------------+
| 54|95977.62|   Henrique Ferreira|             6269315|              Nubank|Sra. Maria Luiza ...|             68542779|                  BTG|           cpf|         14957860211|2021-09-22 10:17:00|
| 86|94736.79|Joao Vitor Cavalc...|            52265189|                 BTG|        Stella Gomes|             93858790|               Nubank|         email|stella.gomes@yaho...|2021-01-26 00:04:00|
| 97|94586.45|      Henrique Pinto|            69273106|            Bradesco|        Heitor Silva|             81541742|                 Itau|         email|heitor.silva@yaho...|2021-09-06 10:57:00|
| 78|81977.98|      Giovanna Costa|            37809286|                Itau|Joao Guilherme Ramos|             75756231|             Bradesco|         email|joao.guilherme.ra...|2021-02-16 18:57:00|
| 71|80083.34|      Eduarda Campos|            12495530|                 BTG|       Olivia da Luz|             30630489|                  BTG|           cpf|         42617803996|2021-11-16 10:58:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+--------------------+-------------------+

In [24]:
# Para o banco BTG, mostre qual é a chave pix mais utilizada para enviar ou receber transações.
spark.sql(
    """
      select chave_pix_tipo, count(*)
      from base_pix
      where parte_debitada_banco = 'BTG' or parte_creditada_banco = 'BTG'
      group by 1
      order by 2 desc
    """
).show()

+--------------+--------+
|chave_pix_tipo|count(1)|
+--------------+--------+
|           cpf|      22|
|         email|      15|
|       celular|      13|
+--------------+--------+

In [26]:
# Descubra qual foi a maior transação de cada mês na base de dados.
spark.sql(
    """
    with cte_base_row(
        select
        id,
        valor,
        date_format(data_transacao, 'y-MM') as ano_mes,
        row_number() over (
          partition by date_format(data_transacao, 'y-MM')
          order by valor desc
        ) as row_number
      from base_pix
    ) select
        id,
        valor,
        ano_mes
      from cte_base_row
      where row_number = 1
    """
).show()

+---+--------+-------+
| id|   valor|ano_mes|
+---+--------+-------+
| 86|94736.79|2021-01|
| 78|81977.98|2021-02|
| 88|78347.58|2021-03|
| 44|   459.2|2021-04|
| 68|  611.53|2021-05|
| 52|60139.23|2021-06|
| 76| 9320.87|2021-07|
| 73|  570.52|2021-08|
| 54|95977.62|2021-09|
| 32| 1508.83|2021-10|
| 71|80083.34|2021-11|
| 40|  829.87|2021-12|
| 79| 78559.4|2022-01|
| 35| 7944.02|2022-02|
| 55|35409.61|2022-03|
| 31|20875.64|2022-04|
| 47|38219.08|2022-05|
| 36|48714.95|2022-06|
| 18|49836.72|2022-07|
| 12| 4374.56|2022-08|
+---+--------+-------+
only showing top 20 rows

In [28]:
# Crie uma nova coluna que contenha o valor da transação em dólar.
spark.sql(
    """
      select id, valor, round(valor * 5.06, 2) as valor_dolar from base_pix limit 10
    """
).show()

# COTAÇÃO DÓLAR 19/10/2023 = R$ 5,06

+---+--------+-----------+
| id|   valor|valor_dolar|
+---+--------+-----------+
|  1|    9.93|      50.25|
|  2|   15.38|      77.82|
|  3|   57.58|     291.35|
|  4|53705.13|  271747.96|
|  5|25299.69|  128016.43|
|  6| 7165.06|    36255.2|
|  7|    6.16|      31.17|
|  8|  136.36|     689.98|
|  9|  574.39|    2906.41|
| 10|   42.88|     216.97|
+---+--------+-----------+